<!-- job_running.html -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5"> <!-- Actualizar la página cada 5 segundos -->
    <title>Job Running</title>
    <script>
        function checkJobStatus() {
            fetch("{% url 'check_job_status' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'finished') {
                        document.getElementById('uploadStatus').innerHTML = 'Job Completed';
                    } else {
                        document.getElementById('uploadStatus').innerHTML = 'Uploading... Please wait.';
                    }
                })
                .catch(error => console.error('Error checking job status:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            checkJobStatus();
            setInterval(checkJobStatus, 5000); // Revisa el estado cada 5 segundos
        });
    </script>
</head>
<body>
    <h1>Job running...</h1>
    <p>Please wait, job running</p>
    <div id="uploadStatus">At the end of the process the results will be displayed.</div>
</body>
</html>
